.live {
  margin: 30px 60px;
}

.live_category {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

@media (max-width: 930px) {
  .live_category {
    justify-content: center;
  }

  .heading {
    text-align: center;
  }
}
