.explore {
  margin: 50px 60px;
}

.places {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

@media (max-width: 930px) {
  .places {
    justify-content: center;
  }

  .heading {
    text-align: center;
  }
}
